<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice SMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <h1>Voice SMS</h1>
    <h2>Press The Mic</h2>
    <div class="btn-container">
        <div class="line-one">
            <button class="btn-red" onclick="processVoice()">
                <i class="fa-solid fa-microphone-lines" style="font-size: 4rem;"></i>
            </button>

        </div>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>